{% extends '::base_empty.html.twig' %}

{% form_theme form
    '::error.html.twig'
    '::form_div_layout.html.twig'
    'BioversityOntologyBundle:Ontology:namespace_custom_field.html.twig'
%}

{% block javascripts %}
  {{ parent() }}
  {% javascripts
    '@BioversityServerConnectionBundle/Resources/public/js/tags.key.js'
    '@BioversityOntologyBundle/Resources/public/js/node.js'
  %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets
    '@BioversityOntologyBundle/Resources/public/css/style_fix.css'
  %}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css">
  {% endstylesheets %}
{% endblock %}

{% block body %}  
    
    <form id="form_namespace" action="#" method="post" {{ form_enctype(form) }} >
        
        {% if errors %}
            {% for error in errors %}
                <div class="alert alert-error pull-left">
                    <strong>Warning!</strong> {{ error }}
                </div>
            {% endfor %}
        {% endif %}
        
        {% if notice %}
            {% for alert in notice %}
                <div class="alert alert-success pull-left">
                    <strong>Well done!</strong> {{ alert }}
                </div>
            {% endfor %}
        {% endif %}
        
        <div class="clear"></div>
        
        {{ form_errors(form) }}
        
        {{ form_widget(form) }}
        
        {{ form_rest(form) }}

        <div class="clear"></div>
        
        <div class="form-actions">
            <input class="btn btn-info" type="submit" value="Save" />
        </div>
    </form>
{% endblock %}