{% extends '::base.html.twig' %}

{% block body %}
    
    <form id="form_user" action="#" method="post" {{ form_enctype(form) }}>
        <h1><small>Edit User</small></h1>
        
        {% if errors %}
            {% for error in errors %}
                <div class="alert alert-error pull-left">
                    <strong>Warning!</strong> {{ error }}
                </div>
            {% endfor %}
        {% endif %}
        
        {% if notice %}
            {% for alert in notice %}
                <div class="alert alert-success pull-left">
                    <strong>Well done!</strong> {{ alert }}
                </div>
            {% endfor %}
        {% endif %}
        
        <div class="clear"></div>
        
        <blockquote>
        
            {{ form_errors(form) }}
            
            {{ form_widget(form) }}
            
            {{ form_rest(form) }}
          
          <div class="clear"></div>
        </blockquote>
        
        <div class="form-actions">
            <a href="{{ path('bioversity_user_homepage') }}" class="btn btn-info" type="button" >Bach</a>
            <input class="btn btn-info" type="submit" value="Save" />
        </div>     
    </form>
        
{% endblock %}