{% extends '::base.html.twig' %}

{% form_theme form
    '::error.html.twig'
    '::form_div_layout.html.twig'
%}

{% block body %}
    
    <form action="#" method="post" {{ form_enctype(form) }}>
        <div class="page-header">
            <h1>
                <small>Create New {{ kind }} User</small>
                <div class="pull-right">
                    <input class="btn btn-info" type="submit" value="Save" />
                </div>
            </h1>
        </div>
        
        {{ form_errors(form) }}
        
        {{ form_label(form.fullname) }}
        {% if form_errors(form.fullname) %}
            <div class="alert alert-error">{{ form_errors(form.fullname) }}</div>
        {% endif %}
        {{ form_widget(form.fullname) }}
        
        
        {{ form_label(form.username) }}
        {% if form_errors(form.username) %}
            <div class="alert alert-error">{{ form_errors(form.username) }}</div>
        {% endif %}
        {{ form_widget(form.username) }}
        
        
        {{ form_label(form.password) }}
        {% if form_errors(form.password) %}
            <div class="alert alert-error">{{ form_errors(form.password) }}</div>
        {% endif %}
        {{ form_widget(form.password) }}
        
        
        {{ form_label(form.email) }}
        {% if form_errors(form.email) %}
            <div class="alert alert-error">{{ form_errors(form.email) }}</div>
        {% endif %}
        {{ form_widget(form.email) }}
    
        {{ form_rest(form) }}        
    </form>
{% endblock %}