<!-- ------------------------------------------------------------------------- --
  -- DatabaseModal															   --
  -- ------------------------------------------------------------------------- -->
<div class="modal hide fade" id="DatabaseModal">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="modal_menu modal-header">
        <a class="pull-right top_menu" data-dismiss="modal" href="#"><i class="icon-remove icon-white"></i></a>
        <h3>Database</h3>
      </div>
      <div class="modal-body">
        <div class="span4">
          <div id="logo_conteiner" class="sidewell">
            <img src="{{ asset('images/TIP-logo.gif') }}" />
          </div>
        </div>
        <div class="span8">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in fermentum enim. Aliquam erat volutpat. Praesent risus arcu, fermentum eget adipiscing in, tincidunt vel nunc. Nam eget feugiat urna. Vivamus et fermentum lorem. Integer in arcu neque, consectetur scelerisque lorem. Nunc sollicitudin mauris ac tellus semper quis placerat mi tempor. Fusce ultrices lacus risus, sit amet molestie enim. Mauris elementum adipiscing feugiat. Praesent viverra consequat aliquet. Pellentesque iaculis imperdiet velit, eget lacinia libero congue sed. Nullam vel nibh nunc, at pellentesque justo. Donec vitae turpis est. Cras non ipsum dui.</p>
          <p>Vivamus dignissim pretium purus, vel vulputate mi luctus sit amet. Duis vitae nisl orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris mattis elementum nisi id lacinia. Maecenas scelerisque sapien tempus metus ultrices consectetur ut tristique ipsum. Suspendisse pretium sagittis lacinia. Ut at laoreet nisi. Maecenas vel urna nec nunc sollicitudin pharetra sed in lorem. Morbi rutrum tempor eros lobortis porttitor. Sed quis egestas eros. </p>
        </div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>

<!-- ------------------------------------------------------------------------- --
  -- MenbersModal		        											   --
  -- ------------------------------------------------------------------------- -->
<div class="modal hide fade" id="MenbersModal">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="modal_menu modal-header">
        <a class="pull-right top_menu" data-dismiss="modal" href="#"><i class="icon-remove icon-white"></i></a>
         <h3>Menbers</h3>
      </div>
      <div class="modal-body">
        <div class="span4">
          <div id="logo_conteiner" class="sidewell">
            <img src="{{ asset('images/TIP-logo.gif') }}" />
          </div>
        </div>
        <div class="span8">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in fermentum enim. Aliquam erat volutpat. Praesent risus arcu, fermentum eget adipiscing in, tincidunt vel nunc. Nam eget feugiat urna. Vivamus et fermentum lorem. Integer in arcu neque, consectetur scelerisque lorem. Nunc sollicitudin mauris ac tellus semper quis placerat mi tempor. Fusce ultrices lacus risus, sit amet molestie enim. Mauris elementum adipiscing feugiat. Praesent viverra consequat aliquet. Pellentesque iaculis imperdiet velit, eget lacinia libero congue sed. Nullam vel nibh nunc, at pellentesque justo. Donec vitae turpis est. Cras non ipsum dui.</p>
          <p>Vivamus dignissim pretium purus, vel vulputate mi luctus sit amet. Duis vitae nisl orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris mattis elementum nisi id lacinia. Maecenas scelerisque sapien tempus metus ultrices consectetur ut tristique ipsum. Suspendisse pretium sagittis lacinia. Ut at laoreet nisi. Maecenas vel urna nec nunc sollicitudin pharetra sed in lorem. Morbi rutrum tempor eros lobortis porttitor. Sed quis egestas eros. </p>
        </div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>

<!-- ------------------------------------------------------------------------- --
  -- WorkshopsModal 														   --
  -- ------------------------------------------------------------------------- -->
<div class="modal hide fade" id="WorkshopsModal">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="modal_menu modal-header">
        <a class="pull-right top_menu" data-dismiss="modal" href="#"><i class="icon-remove icon-white"></i></a>
        <h3>Workshops</h3>
      </div>
      <div class="modal-body">
        <div class="span4">
          <div id="logo_conteiner" class="sidewell">
            <img src="{{ asset('images/TIP-logo.gif') }}" />
          </div>
        </div>
        <div class="span8">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in fermentum enim. Aliquam erat volutpat. Praesent risus arcu, fermentum eget adipiscing in, tincidunt vel nunc. Nam eget feugiat urna. Vivamus et fermentum lorem. Integer in arcu neque, consectetur scelerisque lorem. Nunc sollicitudin mauris ac tellus semper quis placerat mi tempor. Fusce ultrices lacus risus, sit amet molestie enim. Mauris elementum adipiscing feugiat. Praesent viverra consequat aliquet. Pellentesque iaculis imperdiet velit, eget lacinia libero congue sed. Nullam vel nibh nunc, at pellentesque justo. Donec vitae turpis est. Cras non ipsum dui.</p>
          <p>Vivamus dignissim pretium purus, vel vulputate mi luctus sit amet. Duis vitae nisl orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris mattis elementum nisi id lacinia. Maecenas scelerisque sapien tempus metus ultrices consectetur ut tristique ipsum. Suspendisse pretium sagittis lacinia. Ut at laoreet nisi. Maecenas vel urna nec nunc sollicitudin pharetra sed in lorem. Morbi rutrum tempor eros lobortis porttitor. Sed quis egestas eros. </p>
        </div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>

<!-- ------------------------------------------------------------------------- --
  -- ProjectsModal															   --
  -- ------------------------------------------------------------------------- -->
<div class="modal hide fade" id="ProjectsModal">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="modal_menu modal-header">
        <a class="pull-right top_menu" data-dismiss="modal" href="#"><i class="icon-remove icon-white"></i></a>
        <h3>Projects</h3>
      </div>
      <div class="modal-body">
        <div class="span4">
          <div id="logo_conteiner" class="sidewell">
            <img src="{{ asset('images/TIP-logo.gif') }}" />
          </div>
        </div>
        <div class="span8">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in fermentum enim. Aliquam erat volutpat. Praesent risus arcu, fermentum eget adipiscing in, tincidunt vel nunc. Nam eget feugiat urna. Vivamus et fermentum lorem. Integer in arcu neque, consectetur scelerisque lorem. Nunc sollicitudin mauris ac tellus semper quis placerat mi tempor. Fusce ultrices lacus risus, sit amet molestie enim. Mauris elementum adipiscing feugiat. Praesent viverra consequat aliquet. Pellentesque iaculis imperdiet velit, eget lacinia libero congue sed. Nullam vel nibh nunc, at pellentesque justo. Donec vitae turpis est. Cras non ipsum dui.</p>
          <p>Vivamus dignissim pretium purus, vel vulputate mi luctus sit amet. Duis vitae nisl orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris mattis elementum nisi id lacinia. Maecenas scelerisque sapien tempus metus ultrices consectetur ut tristique ipsum. Suspendisse pretium sagittis lacinia. Ut at laoreet nisi. Maecenas vel urna nec nunc sollicitudin pharetra sed in lorem. Morbi rutrum tempor eros lobortis porttitor. Sed quis egestas eros. </p>
        </div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>

<!-- ------------------------------------------------------------------------- --
  -- PublicationsModal														   --
  -- ------------------------------------------------------------------------- -->
<div class="modal hide fade" id="PublicationsModal">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="modal_menu modal-header">
        <a class="pull-right top_menu" data-dismiss="modal" href="#"><i class="icon-remove icon-white"></i></a>
        <h3>Publications</h3>
      </div>
      <div class="modal-body">
        <div class="span4">
          <div id="logo_conteiner" class="sidewell">
            <img src="{{ asset('images/TIP-logo.gif') }}" />
          </div>
        </div>
        <div class="span8">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in fermentum enim. Aliquam erat volutpat. Praesent risus arcu, fermentum eget adipiscing in, tincidunt vel nunc. Nam eget feugiat urna. Vivamus et fermentum lorem. Integer in arcu neque, consectetur scelerisque lorem. Nunc sollicitudin mauris ac tellus semper quis placerat mi tempor. Fusce ultrices lacus risus, sit amet molestie enim. Mauris elementum adipiscing feugiat. Praesent viverra consequat aliquet. Pellentesque iaculis imperdiet velit, eget lacinia libero congue sed. Nullam vel nibh nunc, at pellentesque justo. Donec vitae turpis est. Cras non ipsum dui.</p>
          <p>Vivamus dignissim pretium purus, vel vulputate mi luctus sit amet. Duis vitae nisl orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris mattis elementum nisi id lacinia. Maecenas scelerisque sapien tempus metus ultrices consectetur ut tristique ipsum. Suspendisse pretium sagittis lacinia. Ut at laoreet nisi. Maecenas vel urna nec nunc sollicitudin pharetra sed in lorem. Morbi rutrum tempor eros lobortis porttitor. Sed quis egestas eros. </p>
        </div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>

<!-- ------------------------------------------------------------------------- --
  -- DataUsePolicyModal														   --
  -- ------------------------------------------------------------------------- -->
<div class="modal hide fade" id="DataUsePolicyModal">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="modal_menu modal-header">
        <a class="pull-right top_menu" data-dismiss="modal" href="#"><i class="icon-remove icon-white"></i></a>
        <h3>Data Use Policy</h3>
      </div>
      <div class="modal-body">
        <div class="span4">
          <div id="logo_conteiner" class="sidewell">
            <img src="{{ asset('images/TIP-logo.gif') }}" />
          </div>
        </div>
        <div class="span8">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in fermentum enim. Aliquam erat volutpat. Praesent risus arcu, fermentum eget adipiscing in, tincidunt vel nunc. Nam eget feugiat urna. Vivamus et fermentum lorem. Integer in arcu neque, consectetur scelerisque lorem. Nunc sollicitudin mauris ac tellus semper quis placerat mi tempor. Fusce ultrices lacus risus, sit amet molestie enim. Mauris elementum adipiscing feugiat. Praesent viverra consequat aliquet. Pellentesque iaculis imperdiet velit, eget lacinia libero congue sed. Nullam vel nibh nunc, at pellentesque justo. Donec vitae turpis est. Cras non ipsum dui.</p>
          <p>Vivamus dignissim pretium purus, vel vulputate mi luctus sit amet. Duis vitae nisl orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris mattis elementum nisi id lacinia. Maecenas scelerisque sapien tempus metus ultrices consectetur ut tristique ipsum. Suspendisse pretium sagittis lacinia. Ut at laoreet nisi. Maecenas vel urna nec nunc sollicitudin pharetra sed in lorem. Morbi rutrum tempor eros lobortis porttitor. Sed quis egestas eros. </p>
        </div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>

<!-- ------------------------------------------------------------------------- --
  -- AdvisoryBoardModal														   --
  -- ------------------------------------------------------------------------- -->
<div class="modal hide fade" id="AdvisoryBoardModal">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="modal_menu modal-header">
        <a class="pull-right top_menu" data-dismiss="modal" href="#"><i class="icon-remove icon-white"></i></a>
        <h3>Advisory Board</h3>
      </div>
      <div class="modal-body">
        <div class="span4">
          <div id="logo_conteiner" class="sidewell">
            <img src="{{ asset('images/TIP-logo.gif') }}" />
          </div>
        </div>
        <div class="span8">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in fermentum enim. Aliquam erat volutpat. Praesent risus arcu, fermentum eget adipiscing in, tincidunt vel nunc. Nam eget feugiat urna. Vivamus et fermentum lorem. Integer in arcu neque, consectetur scelerisque lorem. Nunc sollicitudin mauris ac tellus semper quis placerat mi tempor. Fusce ultrices lacus risus, sit amet molestie enim. Mauris elementum adipiscing feugiat. Praesent viverra consequat aliquet. Pellentesque iaculis imperdiet velit, eget lacinia libero congue sed. Nullam vel nibh nunc, at pellentesque justo. Donec vitae turpis est. Cras non ipsum dui.</p>
          <p>Vivamus dignissim pretium purus, vel vulputate mi luctus sit amet. Duis vitae nisl orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris mattis elementum nisi id lacinia. Maecenas scelerisque sapien tempus metus ultrices consectetur ut tristique ipsum. Suspendisse pretium sagittis lacinia. Ut at laoreet nisi. Maecenas vel urna nec nunc sollicitudin pharetra sed in lorem. Morbi rutrum tempor eros lobortis porttitor. Sed quis egestas eros. </p>
        </div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>

<!-- ------------------------------------------------------------------------- --
  -- NewsArchiveModal														   --
  -- ------------------------------------------------------------------------- -->
<div class="modal hide fade" id="NewsArchiveModal">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="modal_menu modal-header">
        <a class="pull-right top_menu" data-dismiss="modal" href="#"><i class="icon-remove icon-white"></i></a>
        <h3>News Archive</h3>
      </div>
      <div class="modal-body">
        <div class="span4">
          <div id="logo_conteiner" class="sidewell">
            <img src="{{ asset('images/TIP-logo.gif') }}" />
          </div>
        </div>
        <div class="span8">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in fermentum enim. Aliquam erat volutpat. Praesent risus arcu, fermentum eget adipiscing in, tincidunt vel nunc. Nam eget feugiat urna. Vivamus et fermentum lorem. Integer in arcu neque, consectetur scelerisque lorem. Nunc sollicitudin mauris ac tellus semper quis placerat mi tempor. Fusce ultrices lacus risus, sit amet molestie enim. Mauris elementum adipiscing feugiat. Praesent viverra consequat aliquet. Pellentesque iaculis imperdiet velit, eget lacinia libero congue sed. Nullam vel nibh nunc, at pellentesque justo. Donec vitae turpis est. Cras non ipsum dui.</p>
          <p>Vivamus dignissim pretium purus, vel vulputate mi luctus sit amet. Duis vitae nisl orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris mattis elementum nisi id lacinia. Maecenas scelerisque sapien tempus metus ultrices consectetur ut tristique ipsum. Suspendisse pretium sagittis lacinia. Ut at laoreet nisi. Maecenas vel urna nec nunc sollicitudin pharetra sed in lorem. Morbi rutrum tempor eros lobortis porttitor. Sed quis egestas eros. </p>
        </div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>

<!-- ------------------------------------------------------------------------- --
  -- GovernanceModal														   --
  -- ------------------------------------------------------------------------- -->
<div class="modal hide fade" id="GovernanceModal">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="modal_menu modal-header">
        <a class="pull-right top_menu" data-dismiss="modal" href="#"><i class="icon-remove icon-white"></i></a>
        <h3>Governance</h3>
      </div>
      <div class="modal-body">
        <div class="span4">
          <div id="logo_conteiner" class="sidewell">
            <img src="{{ asset('images/TIP-logo.gif') }}" />
          </div>
        </div>
        <div class="span8">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in fermentum enim. Aliquam erat volutpat. Praesent risus arcu, fermentum eget adipiscing in, tincidunt vel nunc. Nam eget feugiat urna. Vivamus et fermentum lorem. Integer in arcu neque, consectetur scelerisque lorem. Nunc sollicitudin mauris ac tellus semper quis placerat mi tempor. Fusce ultrices lacus risus, sit amet molestie enim. Mauris elementum adipiscing feugiat. Praesent viverra consequat aliquet. Pellentesque iaculis imperdiet velit, eget lacinia libero congue sed. Nullam vel nibh nunc, at pellentesque justo. Donec vitae turpis est. Cras non ipsum dui.</p>
          <p>Vivamus dignissim pretium purus, vel vulputate mi luctus sit amet. Duis vitae nisl orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris mattis elementum nisi id lacinia. Maecenas scelerisque sapien tempus metus ultrices consectetur ut tristique ipsum. Suspendisse pretium sagittis lacinia. Ut at laoreet nisi. Maecenas vel urna nec nunc sollicitudin pharetra sed in lorem. Morbi rutrum tempor eros lobortis porttitor. Sed quis egestas eros. </p>
        </div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>