{#{% include 'sitemap.twig' %}#}

<ul id="login_form" class="nav pull-right">
  <li>
    <form class="navbar-search pull-left">
      <input type="text" placeholder="Search..." data-source="[&quot;Sweet&quot;,&quot;Clean&quot;,&quot;Popular&quot;,&quot;HTML&quot;,&quot;CSS&quot;,&quot;Free&quot;,&quot;Graphic&quot;,&quot;Colors&quot;,&quot;Cool&quot;,&quot;Simple&quot;]" data-items="4" data-provide="typeahead" class="search-query span3">
    </form>
  </li>
  <li class="divider-vertical"></li>
  {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <li>
      <div class="btn-group pull-right">
        <a class="btn btn-info" href="#">
          <i class="icon-user"></i>
          <span>{{ app.user.username }}</span>
        </a>
        <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" style="width: 240px">
          {% if is_granted('ROLE_ADMIN') %}
            <li>
              <a href="{{ path('bioversity_user_homepage') }}">Manage User</a>
            </li>
          {% endif %}
          {% if is_granted('ROLE_ONTOLOGY') %}
            <li>
              <a href="{{ path('bioversity_ontology_term_new') }}">Create Term</a>
            </li>
          {% endif %}
          <li><a href="#">Profile</a></li>
          <li><a href="{{ path('b_s_logout') }}">Sign Out</a></li>
        </ul>
      </div>
    </li>
  {% else %}
    <li>
      <div class="btn-group pull-right">
        <a class="btn btn-info" href="{{ path('b_s_login_path') }}">
          <span>Login</span>
        </a>
        <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" style="width: 240px">
          <li><a href="{{ path('b_s_registration') }}">Registration</a></li>
        </ul>
      </div>
    </li>
  {% endif %}
</ul>