{% set currentPath = app.request.attributes.get('_route') %}

<div id="navigation_menu" class="pull-right {{ currentPath }}">
    <ul id="navigationMenu">    
        
        <li>
            <div class="navigationFirstLevel">
                <i class="icon-bookmark icon-white"></i>
                <br/>
                Main menu
                
                <span class="{{ currentPath }}">
                    <p class="research_page navigationLink"><a href="{{ path('bioversity_slider_browse_slider') }}">Ontology</a></p>
                    <p class="trait_page navigationLink"><a href="{{ path('bioversity_trait_browse_trait') }}">Trait</a></p>
                    <p class="conservation_page navigationLink"><a href="{{ path('bioversity_site_structure_national_checklists') }}">National Checklists</a></p>
                    <p class="conservation_page navigationLink"><a href="{{ path('bioversity_site_structure_national_inventories') }}">National Inventories</a></p>
                    <p class="conservation_page navigationLink"><a href="{{ path('bioversity_site_structure_conservaton_strategies') }}">Conservation Strategies</a></p>
                    <p class="static_page navigationLink"><a href="{{ path('bioversity_site_structure_contact') }}">Contact</a></p>
                    <p class="static_page navigationLink"><a href="{{ path('bioversity_site_structure_about') }}">About</a></p>
                    <p class="root_page navigationLink"><a href="{{ path('bioversity_site_structure_homepage') }}">Home</a></p>
                </span>
            </div>
        </li>
        
        <li>
            <div class="navigationFirstLevel">
                <i class="icon-user icon-white"></i>
                <br/>User menu
                <span class="{{ currentPath }}">
                    <p><a href="{{ path('bioversity_site_structure_online_chat') }}">Who is online (chat)</a></p>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <p><a href="{{ path('bioversity_user_homepage') }}">Manage User</a></p>
                        {% endif %}
                        
                        {% if is_granted('ROLE_ONTOLOGY') %}
                            <p><a href="{{ path('bioversity_ontology_browse_slider') }}">Manage Ontology</a></p>
                        {% endif %}
                        
                        <p><a href="#">Profile</a></p>
                        <p><a href="{{ path('b_s_logout') }}">Sign Out</a><p>
                    {% else %}
                        <p><a href="{{ path('b_s_login_path') }}">Login</a></p>
                        <p><a href="{{ path('b_s_registration') }}">Registration</a></p>
                    {% endif %}
                </span>
            </div>
        </li>
    </ul>
</div>