{% extends frontend_layout %}

{% block javascripts %}
  {{ parent() }}
  <script src="/js/treat.js"></script>
{% endblock %}

{% block body %}  
  <div class="span9">
    {% for field in landrace_field %}
      <button id="{{ field.name|replace({' ':'_'}) }}" class="btn lengh_btn" {{ field.status }}>{{ field.name }}</button>
      <div id="detail_{{ field.name|replace({' ':'_'}) }}" class="closed landrace_box"></div>
    {% endfor %}
  </div>
  {% include 'data_menu.twig' %}
{% endblock %}