{% extends frontend_layout %}

{% block javascripts %}
  {{ parent() }}
  <script src="/js/treat.js"></script>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDZt4pC_Wzyvh9gS3ex4W07aDyNz33gljc&sensor=true"></script>
{% endblock %}

{% block body %}  
  <div class="span7">
    <form id="landrace_form" class="form-horizontal" action=" method="post">
      {% for field in landrace_field %}
        <button id="{{ field.name|replace({' ':'_'}) }}" class="btn lengh_btn" {{ field.status }}>{{ field.name }}</button>
        <div id="detail_{{ field.name|replace({' ':'_'}) }}" class="closed landrace_box"></div>
      {% endfor %}
      <input type="hidden" name="form_name" value="landrace"/>
    </form>
  </div>
  <div class="span4 landrace_box">
    <div id="form_result">
      <h4>We have found <span id="result_count"></span></h4>  
      <hr>        
      <div>
        <label>Result in Landrace</label>
        <span id="landrace_count" class="label label-info landrace"></span>
      </div>
      <br/>
      <hr>
      <div>
        <label>Result in Crop Wild Relatives</label>
        <span id="cwr_count" class="label label-info cwr"></span>
      </div>
<!--
      <br/>
      <hr>
      <div>
        <label>Result in Trait</label>
        <span id="trait_count" class="label label-info"></span>
      </div>
-->
    </div>
  </div>
  <div class="span11">
    <div id="result_list" class="landrace_box"></div>
  </div>
  
  {% include 'record_detail.twig' %}
  {# {% include 'data_menu.twig' %} #}
{% endblock %}