<div class="span2 sidewell">
  <div class="wellfb">
    <ul id="data_menu" class="nav nav-pills nav-stacked">
      <li {% if link_active == 'datasets' %} class="active" {% endif %}><a href="{{ path('datasets') }}">Datasets</a></li>
      <li {% if link_active == 'data_search' %} class="active" {% endif %}><a href="{{ path('data_search') }}">Data Search</a></li>
      <li {% if link_active == 'download_data' %} class="active" {% endif %}><a href="{{ path('download_data') }}">Download Data</a></li>
      <li {% if link_active == 'request_data' %} class="active" {% endif %}><a href="{{ path('request_data') }}">Request Data</a></li>
      <li {% if link_active == 'contribute_data' %} class="active" {% endif %}><a href="{{ path('contribute_data') }}">Contribute Data</a></li>
    </ul>
  </div>
  <img src="/img/PGR_Secure.gif" />
</div>