<div class="navbar navbar-fixed-top">
  <div class="navbar-inner menu_top_inner">
    
    <div class="container">
      <div id="tip_logo">
        <img src="/img/TIP-logo.gif" />
      </div>
      
      <a data-target=".nav_menu_top" data-toggle="collapse" class="btn btn-navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      
      <a class="brand" href="{{ path('homepage') }}">
        <strong>Bioversity</strong>
        <br/>International
        <br/><strong>T</strong>rait <strong>I</strong>nformation <strong>P</strong>ortal
      </a>
      <div class="nav-collapse collapse">
        <ul class="nav">
        </ul>
      </div>
      
      <div class="nav_menu_top nav-collapse collapse first_row">  
        {% include 'login.twig' %}
      </div>

      <div class="nav_menu_top nav-collapse collapse second_row">
        <ul class="nav  pull-right">
          <li class="root_page {% if(link_active == 'homepage') %} active{% endif %}">
            <a href="{{ path('homepage') }}">Home</a>
          </li>
          <li class="static_page {% if(link_active == 'about') %} active{% endif %}">
            <a href="{{ path('about') }}">About</a>
          </li>
          <li class="static_page {% if(link_active == 'contact') %} active{% endif %}">
            <a href="{{ path('contact') }}">Contact</a>
          </li>
          <li class="trait_page {% if(link_active == 'browse_trait') %} active{% endif %}">
            <a href="{{ path('browse_trait') }}">Trait</a>
          </li>
          <li class="research_page {% if(link_active == 'browse_landrace') %} active{% endif %}">
            <a href="{{ path('browse_landrace') }}">Landrace</a>
          </li>
          <li class="research_page {% if(link_active == 'browse_cwr') %} active{% endif %}">
            <a href="{{ path('browse_cwr') }}">Crop Wild Relatives</a>
          </li>
          {% if app.session.get('user') %}
            <li class="dashboard_page {% if(link_active == 'dashboard') %} active{% endif %}">
              <a href="{{ path('dashboard') }}">Dashboard</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>