<div class="control-group">
  <label for="genus">Geographic data recording system</label>
  <div class="controls">
    <select name="LRSGPS">
      <option value="">select value</option>
      {% for code in lrsgps_landrace %}
        <option value="{{ code.LRSGPS }}">{{ code.LRSGPS }}</option>
      {% endfor %}
      {% for code in lrsgps_cwr %}
        <option value="{{ code.LRSGPS }}">{{ code.LRSGPS }}</option>
      {% endfor %}
    </select>
  </div>
</div>

<div class="control-group">
  <label for="genus">Latitude of farm site</label>
  <div class="controls">
    <select name="LRSLATDD">
      <option value="">select value</option>
      {% for code in lrslatdd_landrace %}
        <option value="{{ code.LRSLATDD }}">{{ code.LRSLATDD }}</option>
      {% endfor %}
      {% for code in lrslatdd_cwr %}
        <option value="{{ code.LRSLATDD }}">{{ code.LRSLATDD }}</option>
      {% endfor %}
    </select>
  </div>
</div>

<div class="control-group">
  <label for="genus">Longitude of farm site</label>
  <div class="controls">
    <select name="FLONGDD">
      <option value="">select value</option>
      {% for code in flongdd_landrace %}
        <option value="{{ code.FLONGDD }}">{{ code.FLONGDD }}</option>
      {% endfor %}
      {% for code in flongdd_cwr %}
        <option value="{{ code.FLONGDD }}">{{ code.FLONGDD }}</option>
      {% endfor %}
    </select>
  </div>
</div>