<div id="trait_fields">
  <!--<div class="control-group">
    <label class="control-label" for="trait_crop">Cropname</label>
    <div class="controls">
      <select id="trait_crop" name="trait_crop" class="trait_fields">
        <option value="">select value</option>
        {% for crop in crop_list %}
          <option value="{{ crop.name }}">{{ crop.name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>-->
  
  <div class="control-group">
    <label class="control-label" for="trait_cat">Trait category</label>
    <div class="controls">
      <select id="trait_cat" name="trait_cat" class="trait_fields">
        <option value="">select value</option>
        {% for cat in category_list %}
          <option value="{{ cat.id }}">{{ cat.name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label" for="trait_trait">Trait</label>
    <div class="controls">
      <select id="trait_trait" name="trait_trait" class="trait_fields">
        <option value="">select value</option>
        {% for trait in trait_list %}
          <option value="{{ trait.id }}">{{ trait.name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>