<div class="control-group">
  <label for="genus">National Inventory code</label>
  <div class="controls">
    <select  name="NICODE">
      <option value="">select value</option>
      {% for code in nicode_landrace %}
        <option value="{{ code.NICODE }}">{{ code.NICODE }}</option>
      {% endfor %}
      {% for code in nicode_cwr %}
        <option value="{{ code.NICODE }}">{{ code.NICODE }}</option>
      {% endfor %}
    </select>
  </div>
</div>

<div class="control-group">
  <label for="genus">Institute code</label>
  <div class="controls">
    <select  name="INSTCODE">
      <option value="">select value</option>
      {% for inst in instcode_landrace %}
        <option value="{{ inst.INSTCODE }}">{{ inst.INSTCODE }}</option>
      {% endfor %}
      {% for inst in instcode_cwr %}
        <option value="{{ inst.INSTCODE }}">{{ inst.INSTCODE }}</option>
      {% endfor %}
    </select>
  </div>
</div>