{% set tagkey = constant('Bioversity\\ServerConnectionBundle\\Repository\\Tags::kTAG_TAGS') %}
{% set nid    = constant('Bioversity\\ServerConnectionBundle\\Repository\\Tags::kTAG_NID') %}
{% set gid    = constant('Bioversity\\ServerConnectionBundle\\Repository\\Tags::kTAG_GID') %}
{% set path     = constant('Bioversity\\ServerConnectionBundle\\Repository\\Tags::kTAG_PATH') %}
{% set label    = constant('Bioversity\\ServerConnectionBundle\\Repository\\Tags::kTAG_LABEL') %}
{% set type     = constant('Bioversity\\ServerConnectionBundle\\Repository\\Tags::kTAG_TYPE') %}
{% set domain   = constant('Bioversity\\ServerConnectionBundle\\Repository\\Tags::kTAG_DOMAIN') %}
{% set auth     = constant('Bioversity\\ServerConnectionBundle\\Repository\\Tags::kTAG_AUTHORITY') %}
{% set lid      = constant('Bioversity\\ServerConnectionBundle\\Repository\\Tags::kTAG_LID') %}
{% set namespace= constant('Bioversity\\ServerConnectionBundle\\Repository\\Tags::kTAG_NAMESPACE') %}
{% set version  = constant('Bioversity\\ServerConnectionBundle\\Repository\\Tags::kTAG_VERSION') %}

{% set type_enum   = constant('Bioversity\\ServerConnectionBundle\\Repository\\Types::kTYPE_ENUM') %}
{% set type_url    = constant('Bioversity\\ServerConnectionBundle\\Repository\\Types::kTYPE_URL_STRING') %}
{% set type_struct = constant('Bioversity\\ServerConnectionBundle\\Repository\\Types::kTYPE_STRUCT') %}
{% set type_set    = constant('Bioversity\\ServerConnectionBundle\\Repository\\Types::kTYPE_ENUM_SET') %}

<!-- fare check sul count e inibire coordion se <= 1 -->
<!-- come etichetta dell'accordion se non esiste metto codice -->

{% for key,value in data  %}
    {% if key != '_id' and key != tagkey %}
        {% set term= tags[key][path][0]|base_term %}
        <div class="{{ tags[key][type][0]|replace({':':'type_'}) }} node_detail pull-left">
            <div class="node_detail_label">
                {% for base in term %}
                    {{ terms[base][label]['en'] }}</strong>
                {% endfor %}
            </div>
            <div class="node_detail_text">
                {% if value|is_array %}
                    {% for subvalue in value%}
                        {% if (tags[key][type][0] == type_enum or tags[key][type][0] == type_set)  %}
                            {{ terms[subvalue][label]['en'] }}
                        {% else %}
                            {{ subvalue }}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% if (tags[key][type][0] == type_enum or tags[key][type][0] == type_set)  %}
                        <!--TODO: manage exception-->
                        {% if terms[value][label]['en'] is defined %}
                            {{ terms[value][label]['en'] }}
                        {% else %}
                            no-data-found ( {{ key }} - {{ value }} )
                        {% endif%}
                    {% elseif tags[key][type][0] == type_url %}
                        <a href="{{ value }}" target="_blank">{{ value }}</a>
                    {% elseif tags[key][type][0] == type_struct %}
                        <!-- check on type. If contain array nothing change else explod the value -->
                        <a class="show_trial" href="{{ path('bioversity_trait_json_trials', { 'structKey': key|url_encode, 'unit' : data[gid]|url_encode, 'page' : 1 })}}" target="_blank" value="{{ data[gid] }}">{{ value }}</a>
                    {% else %}
                        {{ value }}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endfor %}
