{% if distincts|length > 0 %}
    {% set path     = constant('Bioversity\\ServerConnectionBundle\\Repository\\Tags::kTAG_PATH') %}
    {% set label    = constant('Bioversity\\ServerConnectionBundle\\Repository\\Tags::kTAG_LABEL') %}
    {% set type     = constant('Bioversity\\ServerConnectionBundle\\Repository\\Tags::kTAG_TYPE') %}
    {% set kind     = constant('Bioversity\\ServerConnectionBundle\\Repository\\Tags::kTAG_KIND') %}
    {% set domain   = constant('Bioversity\\ServerConnectionBundle\\Repository\\Tags::kTAG_DOMAIN') %}
    {% set auth     = constant('Bioversity\\ServerConnectionBundle\\Repository\\Tags::kTAG_AUTHORITY') %}
    {% set lid      = constant('Bioversity\\ServerConnectionBundle\\Repository\\Tags::kTAG_LID') %}
    {% set namespace= constant('Bioversity\\ServerConnectionBundle\\Repository\\Tags::kTAG_NAMESPACE') %}
    {% set version  = constant('Bioversity\\ServerConnectionBundle\\Repository\\Tags::kTAG_VERSION') %}
    {% set enum     = constant('Bioversity\\ServerConnectionBundle\\Repository\\Types::kTYPE_ENUM') %}
    <ul class="nav nav-pills nav-stacked">
        {% for distinct in distincts %}
            {% for key,value in distinct %}
                <li class="">
                    <a href="{{ links|get_url(key) }}">
                        <span class="badge pull-right distinct_value">{{ value }}</span>
                        {% if enum in tags[group][type] %}
                            {% if tags[group][label] is defined %}
                                {% if tags[group][label]['en'] is defined %}
                                    {{ terms[key][label]['en'] }}
                                {% else %}
                                    {% if tags[group][label]['0'] is defined %}
                                        {{ terms[key][label]['0'] }}
                                    {% else %}
                                        {{ key }}
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                {{ key }}
                            {% endif %}
                        {% else %}
                            {{ key }}
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
        {% endfor %}
    </ul>

      
{% else %}
    <div class="alert alert-block">
        <h4>Warning!</h4>
        No elements founds.
    </div>
{% endif %}