{% extends '::base_empty.html.twig' %}

{% block javascripts %}
  {{ parent() }}
  {% javascripts
    '@BioversityServerConnectionBundle/Resources/public/js/tags.key.js'
    '@BioversityTraitBundle/Resources/public/js/trait.js'
  %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}
    
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
      '@BioversityTraitBundle/Resources/public/css/trait.css'
    %}
        <link href="{{ asset_url }}" rel="stylesheet" type="text/css">
    {% endstylesheets %}
{% endblock %}

{% set tagUnit = constant('Bioversity\\ServerConnectionBundle\\Repository\\Tags::kTAG_UNIT') %}
{% set path     = constant('Bioversity\\ServerConnectionBundle\\Repository\\Tags::kTAG_PATH') %}
{% set label    = constant('Bioversity\\ServerConnectionBundle\\Repository\\Tags::kTAG_LABEL') %}
{% set type     = constant('Bioversity\\ServerConnectionBundle\\Repository\\Tags::kTAG_TYPE') %}
{% set domain   = constant('Bioversity\\ServerConnectionBundle\\Repository\\Tags::kTAG_DOMAIN') %}
{% set auth     = constant('Bioversity\\ServerConnectionBundle\\Repository\\Tags::kTAG_AUTHORITY') %}
{% set lid      = constant('Bioversity\\ServerConnectionBundle\\Repository\\Tags::kTAG_LID') %}
{% set namespace= constant('Bioversity\\ServerConnectionBundle\\Repository\\Tags::kTAG_NAMESPACE') %}
{% set version  = constant('Bioversity\\ServerConnectionBundle\\Repository\\Tags::kTAG_VERSION') %}

{% set type_enum   = constant('Bioversity\\ServerConnectionBundle\\Repository\\Types::kTYPE_ENUM') %}
{% set type_url    = constant('Bioversity\\ServerConnectionBundle\\Repository\\Types::kTYPE_URL_STRING') %}
{% set type_struct = constant('Bioversity\\ServerConnectionBundle\\Repository\\Types::kTYPE_STRUCT') %}
{% set type_set    = constant('Bioversity\\ServerConnectionBundle\\Repository\\Types::kTYPE_ENUM_SET') %}
{% set type_array    = constant('Bioversity\\ServerConnectionBundle\\Repository\\Types::kTYPE_ARRAY') %}


{% block title %}
    Sub-Unit of {{ unit|url_decode }}
{% endblock %}

{% block body %}
    <div class="page-header">
        <h3>{{ trial['_term'][trial['_unit'][unit|url_decode][domain_tag]][label]['en'] }}<br /><small>{{ unit|url_decode }}</small></h3>
    </div>
    
    
  
    {% for key,value in trials  %}
        {% if value['tag'] is not null %}
            {% set head_label= value['tag'] %}
        {% else %}
            {% if(value['term']|is_array) %}
                {% set head_label= '' %}
            {% else %}
                {% set head_label= value['term'] %}
            {% endif %}
        {% endif %}
        
        {% if(head_label != '') %}
            <div class="accordion" id="accordion2">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse{{ key|replace({':':'','/':'',';':''}) }}">
                            {{ head_label }}
                            <i class="icon-plus"></i>
                        </a>
                        <div class="clear"></div>
                    </div>
                    <div id="collapse{{ key|replace({':':'','/':'',';':''}) }}" class="accordion-body collapse">
                        <div class="accordion-inner">
                            
                            {% if value['tag'] is not null %}
                                <div class="node_detail pull-left">
                                    <div class="node_detail_label">
                                        <strong>Referred Unit</strong>
                                    </div>
                                    <div class="node_detail_text">
                                        <a class="accordion-toggle trial_detail" href="{{ path('bioversity_trait_json_trials_detail', { 'unit' : value['tag']|url_encode })}}" value="{{ value['tag'] }}" target="_blank">
                                            {{ value['tag'] }}
                                        </a>
                                    </div>
                                </div>
                            {% endif %}
                            
                            {% for k,v in value  %}        
                                {% if k != tagUnit and k != 'term' and k != 'tag' and k != 'name' and not v|is_array %}
                                    <div class="node_detail pull-left">
                                        <div class="node_detail_label">
                                            <strong>{{ tags[k][label]['en'] }}</strong>
                                        </div>
                                        <div class="node_detail_text">
                                            {% if tags[k][type][0] == type_enum %}
                                                <!--TODO: manage exception-->
                                                {% if terms[v][label]['en'] is defined %}
                                                    {{ terms[v][label]['en'] }}
                                                {% else %}
                                                    {{ value }}
                                                {% endif%}
                                            {% else %}
                                                {{ v }}
                                            {% endif %}                                    
                                        </div>
                                    </div>
                                {% endif %}   
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            {% for value_key,value_term in value %}
                {% if value_key != 'term' and value_key != 'tag' %}
                    <div class="node_detail pull-left">
                        <div class="node_detail_label">
                            <strong>
                                {% if tags[value_key][label]['en'] is defined %}
                                    {{ tags[value_key][label]['en'] }}
                                {% else %}
                                    {{ value }}
                                {% endif%}
                            </strong>
                        </div>
                        <div class="node_detail_text">
                            
                            {% if type_set in tags[value_key][type] %}
                                {% for value_sub_key,value_sub_term in value_term %}
                                    {% if terms[value_sub_term][label]['en'] is defined %}
                                        {{ terms[value_sub_term][label]['en'] }}<br/>
                                    {% else %}
                                        {{ value_sub_term }}
                                    {% endif %} 
                                {% endfor %}
                            {% else %}
                                {% if type_array in tags[value_key][type] %}
                                    {% for value_sub_key,value_sub_term in value_term %}
                                        {% if terms[value_sub_term][label]['en'] is defined %}
                                            {{ terms[value_sub_term][label]['en'] }}<br/>
                                        {% else %}
                                            {{ value_sub_term }}<br/>
                                        {% endif %} 
                                    {% endfor %}
                                {% else %}
                                    {% if terms[value_term][label]['en'] is defined %}
                                        {{ terms[value_term][label]['en'] }}<br/>
                                    {% else %}
                                        {{ value_term }}<br/>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}

    {% if pagecount > 1 %}
        <table style="margin: 0 auto; text-align: center;">
            <tr>
                {% if actualpage == 0 %}
                    {% set actualpage = 1 %}
                {% endif %}
                
                <td>
                    {% if actualpage > 1 %}
                        <a href="{{ path('bioversity_trait_json_trials', { 'structKey': structKey, 'unit' : unit, 'page' : actualpage-1 })}}" class="btn">Previous</a>
                    {% endif %}
                    
                    <strong>Page</strong> {{ actualpage }} <strong>of</strong> {{ pagecount }}
                    
                    {% if actualpage < pagecount %}
                        <a href="{{ path('bioversity_trait_json_trials', { 'structKey': structKey, 'unit' : unit, 'page' : actualpage+1 })}}" class="btn">Next</a>
                    {% endif %}
                </td>
            </tr>
        </table>
    {% endif %}
    
{% endblock %}