{% if units|length > 0 %}
    {% set path     = constant('Bioversity\\ServerConnectionBundle\\Repository\\Tags::kTAG_PATH') %}
    {% set label    = constant('Bioversity\\ServerConnectionBundle\\Repository\\Tags::kTAG_LABEL') %}
    {% set type     = constant('Bioversity\\ServerConnectionBundle\\Repository\\Tags::kTAG_TYPE') %}
    {% set domain   = constant('Bioversity\\ServerConnectionBundle\\Repository\\Tags::kTAG_DOMAIN') %}
    {% set auth     = constant('Bioversity\\ServerConnectionBundle\\Repository\\Tags::kTAG_AUTHORITY') %}
    {% set lid      = constant('Bioversity\\ServerConnectionBundle\\Repository\\Tags::kTAG_LID') %}
    {% set namespace= constant('Bioversity\\ServerConnectionBundle\\Repository\\Tags::kTAG_NAMESPACE') %}
    {% set version  = constant('Bioversity\\ServerConnectionBundle\\Repository\\Tags::kTAG_VERSION') %}
    <table class="table table-striped">
        <tr>
            <td colspan="6">
                We have found <strong>{{ totalunit }}</strong> results
            </td>
        </tr>
        <tr>
            <!--<th>DOMAIN</th>-->
            <th>AUTHORITY</th>
            <th>LOCAL IDENTIFIER</th>
            <th>NAMESPACE</th>
            <th>VERSION</th>
            <th style="text-align: right;">ACTION</th>
        </tr>
        {% for data in units %}
            <tr>
                <!--
                <td>
                    {#{% if terms[data[domain]][label]['en'] is defined %}
                        {{ terms[data[domain]][label]['en'] }}
                    {% endif %}#}
                </td>
                -->
                <td>
                    {% if data[auth] is defined %}
                        {{ data[auth] }}
                    {% endif %}
                </td>
                <td>
                    {% if data[lid] is defined %}
                        {{ data[lid] }}
                    {% endif %}
                </td>
                <td>
                    {% if data[namespace] is defined %}
                        {{ data[namespace] }}
                    {% endif %}
                </td>
                <td>
                    {% if data[version] is defined %}
                        {{ data[version] }}
                    {% endif %}
                </td>
                <td style="text-align: right;">
                    {% if data|containkey(97) and data|containkey(100) %}
                        <button id="geo_{{ data[lid]|replace({' ':'', ':':''}) }}" data-toggle="modal" href="#MapModal" value="{{ data[97] }}_{{ data[100] }}" class="btn map_button">
                            <i class="icon-map-marker icon-white"></i> show map
                        </button>
                    {% endif %}
                    <button id="hide_{{ data[lid]|replace({' ':'', ':':''}) }}" class="btn hidden opener">
                        <i class="icon-chevron-up icon-white"></i> close
                    </button>
                    <button id="show_{{ data[lid]|replace({' ':'', ':':''}) }}" class="btn opener">
                        <i class="icon-chevron-down icon-white"></i> see more
                    </button>
                </td>
            </tr>
            <tr id="detail_{{ data[lid]|replace({' ':'', ':':''}) }}" class="hidden unit_detail">
                <td colspan="6">
                    {% include 'BioversityTraitBundle:Trait:more_detail.html.twig' with {'data' : data} %}
                </td>
            </tr>
        {% endfor %}
        <tr>        
        {% if pagecount > 1 %}
            {% if actualpage == 0 %}
                {% set actualpage = 1 %}
            {% endif %}
            
            <td colspan="4">
                <strong>Page</strong> {{ actualpage }} <strong>of</strong> {{ pagecount }}
            </td>
            <td colspan="2" style="text-align: right;">
                {% if actualpage > 1 %} <a href="#" onclick="javascript: setPage('{{ prevpage }}')" class="btn">Previous</a> {% endif %}
                {{ actualpage }}
                {% if actualpage < pagecount %} <a href="#" onclick="javascript: setPage('{{ nextpage }}')" class="btn">Next</a> {% endif %}
                <!--<input type="button" class="btn" value="go to page" onclick="javascript: setPage($('#pagenumber').val())" />-->
            </td>
        {% endif %}
        </tr>
    </table>
      
{% else %}
    <div class="alert alert-block">
        <h4>Warning!</h4>
        No elements founds. Looks with other keys
    </div>
{% endif %}

<div class="modal hide fade" id="TrialModal">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="modal-header">
        <div class="modal_menu">
          <h3><i class="icon-bookmark"></i> Related Trial</h3>
          <a class="pull-right top_menu" data-dismiss="modal" href="#"><i class="icon-remove icon-white"></i></a>
        </div>
      </div>
      <div class="modal-body">
        <div id="embedded_content">
          <div id="embedded_content_trial_list"></div>
        </div>
        <div id="embedded_content_trial_detail" class="embedded_content_trial_detail pull-right">
        </div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>

<div class="modal hide fade" id="MapModal">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="modal-header">
        <div class="modal_menu">
          <h3><i class="icon-globe"></i> Show in map</h3>
          <a class="pull-right top_menu" data-dismiss="modal" href="#"><i class="icon-remove icon-white"></i></a>
        </div>
      </div>
      <div class="modal-body">
        <div style="background: transparent url({{ asset('bundles/bioversityontology/images/loader.gif') }}) no-repeat">
          <div id="embedded_content"></div>
        </div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>