{% block checkbox_widget %}
{% spaceless %}
    <input
        type="checkbox"
        {{ block('widget_attributes') }}
        {% if value is defined %}
            value="{{ value }}"
        {% endif %}
        {% if checked %}
            checked="checked"
        {% endif %} />
{% endspaceless %}
{% endblock checkbox_widget %}

{% block choice_widget_expanded %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }}>
    {% for child in form %}
        <div class="checkbox_option">
        {{ form_widget(child) }}
        {{ form_label(child) }}
        </div>
    {% endfor %}
    </div>
{% endspaceless %}
{% endblock choice_widget_expanded %}