{% extends '::base.html.twig' %}

{% block javascripts %}
  {{ parent() }}
  {% javascripts
    '@BioversityServerConnectionBundle/Resources/public/js/tags.key.js'
    '@BioversityTraitBundle/Resources/public/js/trait.js'
  %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}
    
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
      '@BioversityTraitBundle/Resources/public/css/trait.css'
    %}
        <link href="{{ asset_url }}" rel="stylesheet" type="text/css">
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div>
        <h2>Search</h2>

        {% if errors %}
            {% for error in errors %}
                <div class="alert alert-error pull-left">
                    <strong>Warning!</strong> {{ error }}
                </div>
            {% endfor %}
        {% endif %}
        
        {% if notice %}
            {% for alert in notice %}
                <div class="alert alert-success pull-left">
                    <strong>Well done!</strong> {{ alert }}
                </div>
            {% endfor %}
        {% endif %}
        
        <div class="clear"></div>
        
        <form action="{{ path('bioversity_trait_browse_trait') }}" id="form_fields" class="form-search" method="post" style="display: block !important;">
            {% for node,forms in form_base %}
                <h1><small>{{ node }}</small></h1>

                {% for field,form in forms %}

                    {# MILKO: Removed spaces from {field} in order to use it as an anchor. #}
                    {% set identifier = field|replace({' ':''}) %}

                    {% form_theme form
                        '::error.html.twig'
                        '::form_div_layout.html.twig'
                        'BioversityTraitBundle:Trait:checkbox_layout.html.twig'
                        'BioversityTraitBundle:Trait:range_layout.html.twig'
                    %}
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a href="#collapse{{ identifier }}" data-parent="#accordion{{ identifier }}" data-toggle="collapse" class="accordion-toggle collapsed">
                                {{ form_errors(form) }}
                                {{ field|upper }}
                            </a>
                        </div>
                        <div class="accordion-body collapse" id="collapse{{ identifier }}" style="height: 0px;">
                            <div class="accordion-inner">
                                {{ form_widget(form) }}
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                        
                {% endfor %}
                
            {% endfor %}
            <div class="form-actions" data-toggle="tooltip">
                <input type="hidden" value="0" name="page" id="form_fields_page">
                <input type="submit" value="Search" class="btn btn-info" id="form_fields_search">
            </div>
        </form>
        
        <div class="clear"></div>
        <div id="summary"></div>
        <div id="units_list"></div>
        
    </div>
{% endblock %}
