{% extends '::base.html.twig' %}

{% block body %}
    <div>
      <h2>Conservation Strategies</h2>
    </div>
    
    {% for folder,files in directory %}
      <div class="accordion-group">
        <div class="accordion-heading">
            <a href="#collapse{{ folder|replace({' ': ""}) }}" data-parent="#accordion{{ folder|replace({' ': ""}) }}" data-toggle="collapse" class="accordion-toggle collapsed">
                <i class="icon-folder-close"></i> {{ folder|upper }}
            </a>
        </div>
        <div class="accordion-body collapse" id="collapse{{ folder|replace({' ': ""}) }}" style="height: 0px;">
            <div class="accordion-inner">
              <table class="table table-striped">
                <tr>
                  <th><h4>Last File Version</h4></th>
                  <td>
                    <a href="downloads/{{ folder }}/{{ files[0] }}" class="btn btn-primary btn-large pull-right">
                      <i class="icon-file"></i> {{ files[0] }}
                    </a>
                  </td>
                </tr>
                
                  {% for files,file in files %}
                    {% if not file|is_array %}
                      {% include 'BioversitySiteStructureBundle:SiteStructure:isnotarray.html.twig' with {'folder': folder, 'file' : file} %}
                    {% endif %}
                  {% endfor %}
                </table>
                
                
                {% for files,file in files %}
                  {% if file|is_array %}
                    {% include 'BioversitySiteStructureBundle:SiteStructure:isarray.html.twig' with {'subdirectory': files} %}
                  {% endif %}
                {% endfor %}
                
                <div class="clear"></div>
              </div>
          </div>
      </div>
    {% endfor %}
{% endblock %}