{% extends '::base_menu_right.html.twig' %}

{% block content_page %}  
  <div id="contact_page" class="span7">
      <h3>Contact</h3>
      <ul class="thumbnails">
        <li>
          <img src="{{ asset('/images/avatar_7.jpg') }}" />
          <p>
            <i class="icon-user"></i>Firstname Lastname
            <br/>
            <i class="icon-bookmark"></i>Project Coordination
            <br/>
            <i class="icon-envelope"></i><a href="#mailto" title="send email">email@apress.com</a>
          </p>
        </li>
        <li>
          <img src="{{ asset('/images/avatar_6.jpg') }}" />
          <p>
            <i class="icon-user"></i>Firstname Lastname
            <br/>
            <i class="icon-bookmark"></i>Project Coordination
            <br/>
            <i class="icon-envelope"></i><a href="#mailto" title="send email">email@apress.com</a>
          </p>
        </li>
        <li>
          <img src="{{ asset('/images/avatar_5.jpg') }}" />
          <p>
            <i class="icon-user"></i>Firstname Lastname
            <br/>
            <i class="icon-bookmark"></i>Content and Science
            <br/>
            <i class="icon-envelope"></i><a href="#mailto" title="send email">email@apress.com</a>
          </p>
        </li>
        <li>
          <img src="{{ asset('/images/avatar_4.jpg') }}" />
          <p>
            <i class="icon-user"></i>Firstname Lastname
            <br/>
            <i class="icon-bookmark"></i>Database Management
            <br/>
            <i class="icon-envelope"></i><a href="#mailto" title="send email">email@apress.com</a>
          </p>
        </li>
        <li>
          <img src="{{ asset('/images/avatar_3.jpg') }}" />
          <p>
            <i class="icon-user"></i>Firstname Lastname
            <br/>
            <i class="icon-bookmark"></i>Technical Issues
            <br/>
            <i class="icon-envelope"></i><a href="#mailto" title="send email">email@apress.com</a>
          </p>
        </li>
        <li>
          <img src="{{ asset('/images/avatar_2.jpg') }}" />
          <p>
            <i class="icon-user"></i>Firstname Lastname
            <br/>
            <i class="icon-bookmark"></i>Database Management
            <br/>
            <i class="icon-envelope"></i><a href="#mailto" title="send email">email@apress.com</a>
          </p>
        </li>
        <li>
          <img src="{{ asset('/images/avatar_1.jpg') }}" />
          <p>
            <i class="icon-user"></i>Firstname Lastname
            <br/>
            <i class="icon-bookmark"></i>Web Administration
            <br/>
            <i class="icon-envelope"></i><a href="#mailto" title="send email">email@apress.com</a>
          </p>
        </li>
      </ul>
    <hr>
      <h3>Feedback</h3>
      <p>
        If you've found or this web site useful or would like to send any comment on the TIP initiative please e-mail us or provide feedback in the forum below. We'd like to know how the TIP website is being used.<br/>
        If you have cited the TIP initiative in a publication, please send us that reference. This will help to document that the TIP initiative has value, and will help if / when we look for apitional funding.<br/>
        Thank you.
      </p>
    <hr>
      <h3>Forum</h3>
      <p><a href="#" title="TipForum">Here</a> you can participate in the discussion (Registration required).</p>
  </div>
{% endblock %}